%section#blog.row
  %header.section-title-container
    %h2.section-title Blog
    %span.hearts
  .row
    .small-11.small-centered.large-8.large-centered.columns
      %article#post-356.post-356.post.type-post.status-publish.format-standard.has-post-thumbnail.hentry.category-blog
        .row
          .large-4.columns.full-width-wrap
            %a{:href => "the-secret-to-having-a-great-wedding/index.html"}
              %img.attachment-post-thumbnail.wp-post-image{:alt => "The Ring", :height => "500", :src => "wp-content/uploads/2014/03/photo-1.jpg", :width => "500"}/
          .large-8.columns.full-width-wrap
            .entry-content.excerpt
              %h3.entry-title
                %a{:href => "the-secret-to-having-a-great-wedding/index.html"} The Secret to Having a Great Wedding
              %time{:datetime => "2014-03-22"} March 22, 2014
              %p
              %p
                In this article we are going to share with you some greats secrets.
                %a.more-link{:href => "the-secret-to-having-a-great-wedding/index.html#more-356"} Read More →
      %article#post-351.post-351.post.type-post.status-publish.format-standard.has-post-thumbnail.hentry.category-blog
        .row
          .large-4.columns.full-width-wrap
            %a{:href => "happy-wedding-weekend-to/index.html"}
              %img.attachment-post-thumbnail.wp-post-image{:alt => "Bouquet", :height => "500", :src => "wp-content/uploads/2014/03/photo-6.jpg", :width => "500"}/
          .large-8.columns.full-width-wrap
            .entry-content.excerpt
              %h3.entry-title
                %a{:href => "happy-wedding-weekend-to/index.html"} Happy Wedding Weekend To…
              %time{:datetime => ""} March 22, 2014
              %p
              %p
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                %br/
                %a.more-link{:href => "happy-wedding-weekend-to/index.html#more-351"} Read More →
      %article#post-331.post-331.post.type-post.status-publish.format-standard.has-post-thumbnail.hentry.category-engagement
        .row
          .large-4.columns.full-width-wrap
            %a{:href => "our-love-album/index.html"}
              %img.attachment-post-thumbnail.wp-post-image{:alt => "Beach Kiss", :height => "500", :src => "wp-content/uploads/2014/03/photo-7.jpg", :width => "500"}/
          .large-8.columns.full-width-wrap
            .entry-content.excerpt
              %h3.entry-title
                %a{:href => "our-love-album/index.html"} Our Wedding Album Ideas
              %time{:datetime => "2014-03-21"} March 21, 2014
              %p
              %p
                Having to think hard about your Wedding Album? Et harum quidem rerum facilis est et expedita distinctio.
                %a.more-link{:href => "our-love-album/index.html#more-331"} Read More →