%section#bridesmaids.row
  %header.section-title-container
    %h2.section-title Bridesmaids
    %span.hearts
  .row
    .small-11.small-centered.large-8.large-centered.columns
      .flexslider
        %ul.slides
          %li
            %img.attachment-full.wp-post-image{:alt => "Monica", :height => "585", :src => "wp-content/uploads/2014/03/bridesmaid-3.jpg", :width => "879"}/
            %p.flex-caption Monica is the girliest girly girl I have ever met! I especially enjoyed living with her and transforming to her "girl" like ways. I will always remember one night accidentally dying her hair pink! She was so nice and did not mind at all, her favorite color is pink and she wore it proudly. Monica has killer looks and also has a loving, sensitive, warm heart to match. She's amazing inside and out and I am lucky to have her.
          %li
            %img.attachment-full.wp-post-image{:alt => "Rachel", :height => "585", :src => "wp-content/uploads/2014/03/bridesmaid-2.jpg", :width => "879"}/
            %p.flex-caption Rachel  and I have a bond that will forever be cherished, especially when hearing Kings of Leon or watching the History Channel. Rachel is by far one of the most interesting girls I have ever had the pleasure of living with. She is so fun, has a great sense of humor, and a passion for knowledge.
          %li
            %img.attachment-full.wp-post-image{:alt => "Phoebe", :height => "585", :src => "wp-content/uploads/2014/03/bridesmaid-1.jpg", :width => "879"}/
            %p.flex-caption I first met Phoebe during my first visit to NM. I probably realized how amazing she was after the second time being thrown off a jet ski at the lake. She made it look so easy and looked great doing it! Phoebe has a huge, caring heart and is so giving of herself and time.
      %br/
