%section#groomsmen.row
  %header.section-title-container
    %h2.section-title Groomsmen
    %span.hearts
  .row
    .small-11.small-centered.large-8.large-centered.columns
      .flexslider
        %ul.slides
          %li
            %img.attachment-full.wp-post-image{:alt => "Chandler", :height => "585", :src => "wp-content/uploads/2014/03/groomsmen-2.jpg", :width => "879"}/
            %p.flex-caption I have known Chandler my whole life and he is my best friend in the world. We grew up in New Mexico playing guns, dressing up like girls (his idea), and just making the most of the time we had together. I lived with Chandler after college for 2 years and it was such an amazing experience having my childhood friend as a roommate when I was an adult. If you see him at the wedding make sure to ask him why he is my best man.
          %li
            %img.attachment-full.wp-post-image{:alt => "Ross", :height => "585", :src => "wp-content/uploads/2014/03/groomsmen-3.jpg", :width => "879"}/
            %p.flex-caption I have never in my life met someone that can make me laugh like Warren and at the same time want to kill him a minute later. His humor is unmatched and very unusual. Ross and I shared a room for 2 years. We even had a bathroom with his and her sinks. I have not known Ross very long but I know he will be a life long friend. Ask Ross about his financial planning robot. It is sick!
          %li
            %img.attachment-full.wp-post-image{:alt => "Joey", :height => "585", :src => "wp-content/uploads/2014/03/groomsmen-1.jpg", :width => "879"}/
            %p.flex-caption Joey is the definitely the coolest one out of my brothers. He is always doing fun stuff and looking good while he is doing it. Joey and I have always been pretty close. In high school and college I really appreciated him letting me tag around with him and his friends. He made me feel like one of the guys and never like a younger brother.
      %br/