%link#contact-form-7-css{:href => asset_path("wp-content/plugins/contact-form-7/includes/css/stylesa560.css?ver=3.9.1"), :media => "all", :rel => "stylesheet", :type => "text/css"}/
%link#flexslider-css{:href => asset_path("wp-content/plugins/eternity-collection-suite/css/flexslider2e46.css?ver=3.9.2"), :media => "all", :rel => "stylesheet", :type => "text/css"}/
%link#google-fonts-roboto-css{:href => "http://fonts.googleapis.com/css?family=Roboto+Slab%3A400%2C700&ver=3.9.2", :media => "all", :rel => "stylesheet", :type => "text/css"}/
%link#google-fonts-playfair-css{:href => "http://fonts.googleapis.com/css?family=Playfair+Display%3A400%2C400italic&ver=3.9.2", :media => "all", :rel => "stylesheet", :type => "text/css"}/
%link#normalize-css{:href => asset_path("wp-content/themes/eternity/assets/css/normalize.min2e46.css?ver=3.9.2"), :media => "all", :rel => "stylesheet", :type => "text/css"}/
%link#foundation-css{:href => asset_path("css/foundation.css"), :media => "all", :rel => "stylesheet", :type => "text/css"}/
%link#font-awesome-css{:href => asset_path("wp-content/themes/eternity/assets/css/font-awesome.min2e46.css?ver=3.9.2"), :media => "all", :rel => "stylesheet", :type => "text/css"}/
%link#eternity-style-css{:href => asset_path("wp-content/themes/eternity-child/style2e46.css?ver=3.9.2"), :media => "all", :rel => "stylesheet", :type => "text/css"}/
%link#media-queries-css{:href => asset_path("wp-content/themes/eternity/assets/css/media-queries2e46.css?ver=3.9.2"), :media => "all", :rel => "stylesheet", :type => "text/css"}/
%script{:src => asset_path("wp-includes/js/jquery/jquerya4e6.js?ver=1.11.0"), :type => "text/javascript"}
%script{:src => asset_path("wp-includes/js/jquery/jquery-migrate.min1576.js?ver=1.2.1"), :type => "text/javascript"}
%link{:href => asset_path("wp-includes/wlwmanifest.xml"), :rel => "wlwmanifest", :type => "application/wlwmanifest+xml"}/
:javascript
  /* <![CDATA[ */
  // Comprehensive Google Map plugin v9.0.20
  var CGMPGlobal = {"ajaxurl":"http:\/\/wp.themechills.com\/eternity\/wp-admin\/admin-ajax.php","noBubbleDescriptionProvided":"No description provided","geoValidationClientRevalidate":"REVALIDATE","cssHref":"http:\/\/wp.themechills.com\/eternity\/wp-content\/plugins\/comprehensive-google-map-plugin\/style.css?ver=9.0.20","language":"en","customMarkersUri":"http:\/\/wp.themechills.com\/eternity\/wp-content\/plugins\/comprehensive-google-map-plugin\/assets\/css\/images\/markers\/","kml":"[TITLE] [MSG] ([STATUS])","kmlDocInvalid":"The KML file is not a valid KML, KMZ or GeoRSS document.","kmlFetchError":"The KML file could not be fetched.","kmlLimits":"The KML file exceeds the feature limits of KmlLayer.","kmlNotFound":"The KML file could not be found. Most likely it is an invalid URL, or the document is not publicly available.","kmlRequestInvalid":"The KmlLayer is invalid.","kmlTimedOut":"The KML file could not be loaded within a reasonable amount of time.","kmlTooLarge":"The KML file exceeds the file size limits of KmlLayer.","kmlUnknown":"The KML file failed to load for an unknown reason.","address":"Address","streetView":"Street View","directions":"Directions","toHere":"To here","fromHere":"From here","mapFillViewport":"false","timestamp":"ad390cb542","ajaxCacheMapAction":"cgmp_ajax_cache_map_action","sep":"{}"}
  /* ]]> */
:javascript
  jQuery(window).load(function() {
            jQuery('.flexslider').flexslider({
              animation: "slide",
              slideshow: false,
              touch: true,
            });
          });
:css
  h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      .section-title,
      footer a {
        color: #de675f;
      }
      button,
      .button,
      input[type="submit"] {
        background-color: #de675f;
        color: #ffffff;
      }
      .side-nav li a {
        border-color: #FB918A;;
      }
      .date-container,
      .subline,
      .section-title em {
        color: #987c61;
      }
      .section-title {
        border-color: #987c61;
      }
      .date-container .accent {
        color: #755F49;
      }
      .side-nav-container {
        background-color: #de675f;
        background-color: rgba(222,103,95,.90);
      }
      .side-nav:after {
        background-image:
          -webkit-linear-gradient(45deg, #de675f 25%, transparent 25%, transparent 75%, #de675f 75%, #de675f);
        background-image:
          -moz-linear-gradient(45deg, #de675f 25%, transparent 25%, transparent 75%, #de675f 75%, #de675f);
        background-image:
          -o-linear-gradient(45deg, #de675f 25%, transparent 25%, transparent 75%, #de675f 75%, #de675f);
        background-image:
          linear-gradient(45deg, #de675f 25%, transparent 25%, transparent 75%, #de675f 75%, #de675f),
          linear-gradient(-45deg, #de675f 25%, transparent 25%, transparent 75%, #de675f 75%, #de675f);
      }