%section#location.row
  %header.section-title-container
    %h2.section-title Location
    %span.hearts
  .small-12.large-10.large-centered.columns
    .row
      %h3 從五股交流道前往
      .div.center
        %iframe{:frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed?pb=!1m27!1m12!1m3!1d28914.30921141415!2d121.4397945!3d25.058203911104403!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m12!1i0!3e6!4m3!3m2!1d25.0685279!2d121.4374275!4m5!1s0x3442a7d9763912d3%3A0x6951a01eb9f17703!2zMjQz5paw5YyX5biC5rOw5bGx5Y2A56Oa6ZuF5Y6d6LevMTDomZ_pppnojYnoirHnt6PkuLvpoYzppJDlu7M!3m2!1d25.042251!2d121.440518!5e0!3m2!1szh-TW!2stw!4v1409492549582", :style => "border:0", :width => "600"}