%section#location.row
  %header.section-title-container
    %h2.section-title Location
    %span.hearts
  .small-12.large-10.large-centered.columns
    .row.center
      %h3 自行開車 (從五股交流道)
      %p 沿著新五路前往新莊方向，轉進中環路直行轉進磚雅厝路即可抵達餐廳。
      .div.center
        %iframe{:frameborder => "0", :height => "250", :src => "https://www.google.com/maps/embed?pb=!1m27!1m12!1m3!1d28914.30921141415!2d121.4397945!3d25.058203911104403!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m12!1i0!3e6!4m3!3m2!1d25.0685279!2d121.4374275!4m5!1s0x3442a7d9763912d3%3A0x6951a01eb9f17703!2zMjQz5paw5YyX5biC5rOw5bGx5Y2A56Oa6ZuF5Y6d6LevMTDomZ_pppnojYnoirHnt6PkuLvpoYzppJDlu7M!3m2!1d25.042251!2d121.440518!5e0!3m2!1szh-TW!2stw!4v1409492549582", :style => "border:0", :width => "600"}
  .small-12.large-10.large-centered.columns
    .row.center
      %h3 搭乘捷運
      %p 請於捷運新莊站一號出口下車，搭乘計程車，告訴司機婚宴地址最為方便。
      .div.center
        %iframe{:frameborder => "0", :height => "250", :src => "https://www.google.com/maps/embed?pb=!1m29!1m12!1m3!1d14459.31491283232!2d121.44714294999991!3d25.039885811212404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m14!1i0!3e6!4m5!1s0x3442a873e5de9f09%3A0x2ca407f807226470!2z5o236YGL5paw6I6K56uZ!3m2!1d25.036077!2d121.452339!4m5!1s0x3442a7d9763912d3%3A0x6951a01eb9f17703!2z6aaZ6I2J6Iqx57ej5Li76aGM6aSQ5buzIDI0M-aWsOWMl-W4guazsOWxseWNgOejmumbheWOnei3rzEw6Jmf!3m2!1d25.042251!2d121.440518!5e0!3m2!1szh-TW!2stw!4v1410183009498", :style => "border:0", :width => "600"}