%section#our-story.row
  %header.section-title-container
    %h2.section-title Our Story
    %span.hearts
  .small-12.large-10.large-centered.columns
    .row
      .small-12.large-6.columns
        %a{:href => "images/bride.jpg"}
          %img.alignnone.size-full.wp-image-381{:alt => "bride", :height => "691", :src => "images/bride.jpg", :width => "581"}/
        %blockquote.caption-2
          %p When I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects and flies, then I feel the presence of the Almighty, who formed us in his own image, and the breath.
          %p I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown plants are noticed by me:
          %p{:style => "text-align: right;"}
            %strong - Cecelia’s Story
      .small-12.large-6.columns
        %a{:href => "images/groom.jpg"}
          %img.alignnone.size-full.wp-image-382{:alt => "Groom", :height => "691", :src => "images/groom.jpg", :width => "581"}/
        %blockquote.caption-1
          %p A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
          %p I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.
          %p{:style => "text-align: right;"}
            %strong - Kevin’s Story
