%section#photos.row
  %header.section-title-container
    %h2.section-title Photos
    %span.hearts
  .small-12.columns
    %ul.clearing-thumbs{"data-clearing" => ""}
      %li
        %a{:href => "wp-content/uploads/2014/03/photo-5.jpg"}
          %img.attachment-full.wp-post-image{:alt => "The Cake", :height => "500", :src => "wp-content/uploads/2014/03/photo-5.jpg", :width => "500"}/
          %span.overlay-label The Cake
      %li
        %a{:href => "wp-content/uploads/2014/03/photo-8.jpg"}
          %img.attachment-full.wp-post-image{:alt => "Love", :height => "500", :src => "wp-content/uploads/2014/03/photo-8.jpg", :width => "500"}/
          %span.overlay-label Love
      %li
        %a{:href => "wp-content/uploads/2014/03/photo-1.jpg"}
          %img.attachment-full.wp-post-image{:alt => "The Ring", :height => "500", :src => "wp-content/uploads/2014/03/photo-1.jpg", :width => "500"}/
          %span.overlay-label The Ring
      %li
        %a{:href => "wp-content/uploads/2014/03/photo-6.jpg"}
          %img.attachment-full.wp-post-image{:alt => "Bouquet", :height => "500", :src => "wp-content/uploads/2014/03/photo-6.jpg", :width => "500"}/
          %span.overlay-label Bouquet
      %li
        %a{:href => "wp-content/uploads/2014/03/photo-7.jpg"}
          %img.attachment-full.wp-post-image{:alt => "Beach Kiss", :height => "500", :src => "wp-content/uploads/2014/03/photo-7.jpg", :width => "500"}/
          %span.overlay-label Beach Kiss
      %li
        %a{:href => "wp-content/uploads/2014/03/photo-2.jpg"}
          %img.attachment-full.wp-post-image{:alt => "The Dress", :height => "500", :src => "wp-content/uploads/2014/03/photo-2.jpg", :width => "500"}/
          %span.overlay-label The Dress
      %li
        %a{:href => "wp-content/uploads/2014/03/photo-3.jpg"}
          %img.attachment-full.wp-post-image{:alt => "Engagement", :height => "500", :src => "wp-content/uploads/2014/03/photo-3.jpg", :width => "500"}/
          %span.overlay-label Engagement
      %li
        %a{:href => "wp-content/uploads/2014/03/photo-4.jpg"}
          %img.attachment-full.wp-post-image{:alt => "Reception", :height => "500", :src => "wp-content/uploads/2014/03/photo-4.jpg", :width => "500"}/
          %span.overlay-label Reception
