%section#schedule
  %header.section-title-container
    %h2.section-title 宴會流程
    %span.hearts
  .cd-timeline-block
    .cd-timeline-img
      %img{:alt => "Picture", :src => asset_path("timeline_assets/img/cd-icon-picture.svg")}/
    .cd-timeline-content
      %h2 Title of section 1
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.
      %a.cd-read-more{:href => "#0"} Read more
      %span.cd-date Jan 14
  .cd-timeline-block
    .cd-timeline-img
      %img{:alt => "Picture", :src => asset_path("timeline_assets/img/cd-icon-picture.svg")}/
    .cd-timeline-content
      %h2 Title of section 3
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.
      %a.cd-read-more{:href => "#0"} Read more
      %span.cd-date Feb 14
  .cd-timeline-block
    .cd-timeline-img
      %img{:alt => "Picture", :src => asset_path("timeline_assets/img/cd-icon-picture.svg")}/
    .cd-timeline-content
      %h2 Title of section 3
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.
      %a.cd-read-more{:href => "#0"} Read more
      %span.cd-date Feb 14
  .cd-timeline-block
    .cd-timeline-img
      %img{:alt => "Picture", :src => asset_path("timeline_assets/img/cd-icon-picture.svg")}/
    .cd-timeline-content
      %h2 Title of section 3
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.
      %a.cd-read-more{:href => "#0"} Read more
      %span.cd-date Feb 14
  %header.section-title-container
    %h2.section-title
