%section#schedule
  %header.section-title-container
    %h2.section-title 宴會流程
    %span.hearts
  .cd-timeline-block
    %div.cd-timeline-img
      %img{:alt => "Picture", :src => asset_path("timeline_assets/img/balloons-icon.png")}/
      %span.cd-date 11 : 30

    .cd-timeline-content
      %h2 賓客進場
      %p 賓客到場，歡迎拿取新人為大家準備的小謝卡。
      %p 以及別忘了好吃的日式喜餅。
      %p
        %img{:alt => "Picture", :src => asset_path("images/highhat.png")}/
  .cd-timeline-block
    .cd-timeline-img
      %img{:alt => "Picture", :src => asset_path("timeline_assets/img/food.png")}/
      %span.cd-date 12 : 00
    .cd-timeline-content
      %h2 宴會開始
      %p 餐點內容採自助式，西式為主
      %p (如有素食者，請再告知我們)
      %p
        %img.center{:alt => "Picture", :src => asset_path("images/food.jpg")}/
  .cd-timeline-block
    .cd-timeline-img
      %img{:alt => "Picture", :src => asset_path("timeline_assets/img/wedding-sign.png")}/
      %span.cd-date 14 : 30
    .cd-timeline-content
      %h2 宴會結束
      %p 別忘了跟新人拿喜糖，並且一起拍照留念喔！
  %header.section-title-container
    %h2.section-title
